*{
    /* margin: 10px; */
    padding: 2px;
}

  .col-sm-3{
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  .row{
    border: 2px solid blue;
  }
/* .row1{
    border: 2px solid rgb(163, 127, 80);
} */
  .col-sm-10{
    display: flex;
    justify-content: space-between;
    color: black;

  }
  .col-sm-12{
    display: flex;
    justify-content: space-between;
    /* color: black; */

  }

